.input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
    box-shadow: none;
    height: auto;
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-size: 1em;
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    caret-shape: block;
    width: 100%;
}
.input:active {
    border: none;
}
.input:focus {
    border: none;
    outline: none;
}
